.vscode/launch.json
.vscode/settings.json
node_modules
.cache
.DS_Store
public

# Local Netlify folder
.netlify
# @netlify/plugin-gatsby ignores start
netlify/functions/gatsby
# @netlify/plugin-gatsby ignores end
